script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	crossorigin="anonymous")
script(src="https://rawgit.com/digitalBush/jquery.maskedinput/1.4.1/dist/jquery.maskedinput.min.js")
//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsE_yz9jM9g94rhGDwvLXlh9qhdpw54Xw&libraries=places")
script(src="js/plugins/MonthPicker.js")
script(async src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
script(src="js/plugins/parsley.min.js")
script(src='js/plugins/lesbox.min.js')
script(src="js/plugins/jquery.adaptive-backgrounds.js")
script(src="js/navigation.js")
script(async src='js/tabs.js')
script(async src="js/arrow-scroll.js")
script(async src="js/monthSelector.js")
script(async src="js/blogEditor.js")
script(async src="js/dropdown.js")
script(async src="js/goBack.js")
script(async src="js/deleteCard.js")
script(async src="js/addToDropdown.js")
script(src="js/modalActions.js") 
script(src="js/mobile-nav.js")
if(pageName === "settings")
	script(async src="js/settings.js")
if(pageName === "guide city")
	script(async src="js/toggleSearch.js")
	script(src="js/guideCityMap.js")
	script(async src="js/toggleView.js")
if(pageName === "guide")
	script(async src="js/countryDropdown.js")
	script(src="js/plugins/parsley.min.js")
	script(src="js/custom-file-input.js")
	script(async src="js/toggleSearch.js")
if(pageName === "blog")
	script(src="js/plugins/trumbowyg.min.js")
	script(src="js/plugins/trumbowyg.colors.min.js")
	script(src="js/plugins/parsley.min.js")
	script(src="js/plugins/trumbowyg.upload.min.js")
	script(async src="js/blogWysiwyg.js")
	script(async src="js/imagePreview.js")
	script(async src="js/blogTabs.js")
if(pageName === "platform data")
	script(src="js/plugins/jzflat-date.js")
	script(src='https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
	script(src="js/plugins/chartist-plugin-axistitle.min.js")
	script(src="js/plugins/chartist-plugin-tooltip.min.js")
	//- script(async src="js/chartistCustom.js")
	script(async src="js/monthRangeChanger.js")
	script(async src='js/weekRangeChanger.js')
	script(async src='js/dayRangeChanger.js')
	script(async src='js/villa-dashboard-graph.js')
if(pageName === "blog stats")
	script(src='https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
	script(src="js/plugins/chartist-plugin-axistitle.min.js")
	script(src="js/plugins/chartist-plugin-tooltip.min.js")
	script(async src="js/blogStatsGraph.js")
if(pageName === "new guide")
	script(src="js/plugins/trumbowyg.min.js")
	script(src="js/plugins/trumbowyg.colors.min.js")
	script(src="js/plugins/trumbowyg.upload.min.js")
	script(src="js/plugins/parsley.min.js")
	script(async src="js/wysiwyg.js")
	script(async src="js/guideSearchMap.js")
	script(async src="js/imagePreview.js")
	script(src="js/plugins/parsley.min.js")
if(pageName === "guide stats")
	script(src='https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
	script(src="js/plugins/chartist-plugin-axistitle.min.js")
	script(src="js/plugins/chartist-plugin-tooltip.min.js")
	script(async src="js/guideDetailsMap.js")
	script(async src="js/guideStatsGraph.js")
if(pageName === "popup")
	script(async src="js/popup.js")
	script(async src="js/guideSearchMap.js")
if(pageName === "owner dashboard")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsE_yz9jM9g94rhGDwvLXlh9qhdpw54Xw&amp;libraries=places")
	script(src="js/plugins/notify.min.js")
	script(async src="js/ownerImagePreview.js")
	//- script(async src="js/guideSearchMap.js")
	script(async src="js/cloneShit.js")
	script(async src="js/changeValue.js")
	script(async src="js/ownerSlick.js")
	script(async src="js/popup.js")
	script(async src="js/guideSearchMap.js")
	script(async src="js/ownerValidation.js")
	script(async src="js/registration-flow.js")
if(pageName === "create account-owner")
	script(src="js/plugins/notify.min.js")
	script(async src="js/registration-flow.js")
	script(async src="js/inputFocus.js")
if(pageName === "view villa")
	script(async src="js/villaCoverSlider.js")
	script(async src="js/preview-villa-admin.js")
	script(src="js/plugins/jzflat-date.js")
	script(src="js/chat-with-owner-popup.js")
if(pageName === "Villaowner-Dashboard")
	script(src='https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
	script(src="js/plugins/chartist-plugin-axistitle.min.js")
	script(src="js/plugins/chartist-plugin-tooltip.min.js")
	script(src="js/plugins/circle-progress-bar.js")
	script(src="js/review-progressbar-init.js")
	script(src="js/plugins/jzflat-date.js")
	script(src="js/villa-owner-graphs.js")
	script(src="js/pie-chart-init.js")
	script(src="js/calendar-init.js")
	script(src="js/plugins/MonthPicker.js")
	script(src="js/chartistCustom.js")
	script(async src="js/monthRangeChanger.js")
	script(async src='js/weekRangeChanger.js')
	script(async src='js/dayRangeChanger.js')
	//- script(src="js/mobile-nav.js")
if(pageName === "villa-customer")
	script(async src="js/villaCoverSlider.js")
	script(async src="js/preview-villa-admin.js")
	script(src="js/plugins/jzflat-date.js")
	script(src="js/chat-with-owner-popup.js")
	script(async src="js/check-availability.js")
if(pageName === "customer guide")
	script(src="js/plugins/notify.min.js")
	script(async src="js/registration-flow.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEjYyqlX39DcIi6x5IaR6vEg1azabKzaA")
	script(aync src="js/inputFocus.js")
	script(async src="js/maps-customer-guide.js")
	script(aync src="js/slider-tabs.js")
	//- script(async src="js/mobile-nav.js")
//- script(async src="js/main.js")
if(pageName === "guide details")
	script(async src="js/guideSlick.js")
	script(async src="js/plugins/perfect-scrollbar.js")
	script(async src="js/perfect-scrollbar-init.js")
	script(async src="js/inputFocus.js")
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEjYyqlX39DcIi6x5IaR6vEg1azabKzaA&callback=initMap2")
	script(aync src="js/maps-customer-guide.js")
	script(aync src="js/smooth-scroll.js")
if(pageName === "chat-board")
	script(src="js/chat-board.js")
	//- script(async src="js/mobile-nav.js")
if(pageName === "profile")
	script(src="js/plugins/jzflat-date.js")
	script(src="js/edit-profile.js")
if(pageName === "new requests")
	//- link(rel="stylesheet" href="css/plugins/jquery.dataTables.min.css")
	script(src="js/plugins/jquery.dataTables.min.js")
	//- script(type="text/javascript").
	//- 	$(document).ready(function() {
	//- 		if($('#new-reviews-table').length > 0) {
	//- 			$('#new-reviews-tables').DataTable();
	//- 			console.log(89);
	//- 		}
	//- 		if($('#review-list-table').length > 0) {
	//- 			$('#review-list-table').DataTable();
	//- 		}
	//- 	});
if(pageName === "landing-customer")
	//- script(src="js/plugins/nouislider.min")
	//- script(src="js/plugins/wNumb.js")
	script(src="js/customer-slider.js")
	script(src="js/changeValue.js")
	script(src="js/plugins/jzflat-date.js")
	script(src="js/calendar-init.js")
	script(src="js/filter.js")

//- if(pageName === "Villa-owner")
//- 	//- script(src="js/plugins/php-date-formatter.min.js")
//- 	//- script(src="js/plugins/jquery.mousewheel.js")
//- 	//- script(src="js/plugins/jquery.datetimepicker.js")
