//- doctype html
//- head
//-   title Mocha Tests
//-   //- link(rel='stylesheet', href='node_modules/mocha/mocha.css')
//- #mocha
//- //- script(src='node_modules/mocha/mocha.js')
//- //- script(src='node_modules/chai/chai.js')
//- script.
//-   mocha.setup('bdd')
//- // load code you want to test here
//- //- script(src='js/className.js')
//- // load your test files here
//- //- script(src='tests/testArray.js')
//- //- script(src='tests/classNameTest.js')
//- script.
//-   mocha.run();
